table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #f2f2f2;
    text-align: left;
}

td.table-actions .dropdown ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
    }
    list-style: none;
}

.dropdown a.dropdown-toggle {
    display: none;
}
