<p>Dear {{ user.getDisplayName }},</p>

<p>To reset your password, please visit the following link</p>

<a href="{{ url('pixiekat_symfony_helpers_password_reset_token', {token: resetToken.token}) }}">{{ url('pixiekat_symfony_helpers_password_reset_token', {token: resetToken.token}) }}</a>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>If you feel this message was received in error, no action is required. If you have any questions, please email <a href="mailto:help@alicantobidmc.org">help@alicantobidmc.org</a> or call (617) 278-8162.</p>
